body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

.container {
  border: solid black 5px;
  width: 375px;
}

.qr-code {
  width: 100%
}

.section-heading {}

.instructions {
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
