body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-align: center;
}

.vessel {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  margin: 96px auto;
  padding: 16px;
  width: 375px;
}

.qr-code {
  border-radius: 12px;
  width: 100%
}

.headline {
  color: hsl(218, 44%, 22%);
  font-size: 1.75rem;
  font-weight: 700;
  margin: 24px;
}

.instructions {
  color: hsl(220, 15%, 55%);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 18px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
