@import "colors";

.attribution {
    font: {
        family: 'Outfit', sans-serif;
        size: 0.75rem;
        weight: 400;
    }

    text-align: center;
}

.attribution--link {
    color: $blue;
}