@import "breakpoints";

.qr-code-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.5;
    padding: 10.133rem 0;

    @media screen and (max-width: $mobile) {
        padding: 5.65rem 0;
    }
}
